<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= link_to 'add kitten', new_kitten_path %>
    <%= link_to 'all kittens', root_path %>
    <%= link_to 'owners', owners_path %>
    <%= link_to 'new owner', new_owner_path %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
